TTS_HOST=0.0.0.0
TTS_PORT=8000
TTS_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
TTS_DEVICE=auto
TTS_MAX_CONCURRENT=20
TTS_ENABLE_STREAMING=true
TTS_LOG_LEVEL=INFO
TTS_MODEL_DIR=./models
TTS_CACHE_DIR=./models/.cache
